
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<P12T.Models.Cart>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cart</h2>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="40%">
                        <img src="~/Assets/img/@obj.imgURL" width="200" height="300" alt="Product Image">
                    </td>
                    <td width="30%">
                        @obj.Name
                    </td>
                    <td width="30%">
                        @obj.Price
                    </td>
                    <td width="30%">
                        @obj.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

