
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model P12T.Models.Product

<form method="post" asp-action="Delete">
    <input asp-for="id" hidden />
    <div class="border p-3 mt-4">   
        <div class="row pb-2">
            <h2 class="text-primary">
                Delete Product
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled class="form-control" placeholder="@Model.Name"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            Delete
        </button>
        @Html.ActionLink("Back to List", "Index", "HomeAdmin", null, new { @class = "btn btn-secondary", style = "width:150px" })
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

